<footer>
    <div class="info">
        <div class="socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-solid fa-link"></i>

        </div>
        <div class="brand"> &copy;Wanderlust private limited</div>
        <div class="links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>