<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="alert alert-danger col-12 offset-1" role="alert">
        
      <h3 class="alert-heading"><%=message%></h3>
      
      </div>
      

</div>